body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: #FAFAFA;
    display: none; /* tmp debugging */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, serif;
}

.bg-gray {
    background: #fafafa;
}

.divider {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.divider path {
    fill: #FAFAFA;
}

section.tagline {
    position: relative;
    padding: 200px 0;
    background-color: #384648;
}

.avatar-card-container {
    margin-bottom: 200px;
}

.avatar-card {
    padding-top: 100px;
}

.avatar-img {
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: 50%;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
}

.owl-img {
    position: absolute;
    top: -5px;
    left: 50%;
    height: 200px;
    transform: translate(-50%, -50%);
}

.skills {
    padding: 5px 20px;
}

.card-footer a {
    text-decoration: none;
}

.card-footer a img {
	width: 32px;
	height: 32px;
	margin: 0 5px;
}

footer .row {
    padding-top: 20px;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 380px) {
    #tagline {
        font-size: 0.8rem;
    }
}

#loulou {
	display:none;
}
